@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
	margin:0;
	padding: 0;
	background-size: cover;
	overflow: hidden; 
}

.blockvideo {
	width: 120%;
	margin:0;
	padding: 0;
	position: absolute;
	top:-20px;
	left:0;
}


.block {
	position: absolute;
	top:0;
	right: 10px;

}
.text  {
	padding-top: 180px;
font-family: 'Press Start 2P', cursive;
	text-align: center;
	width: 100%;

}
.text input {
	position: relative;
	font-family: 'Press Start 2P', cursive;
	font-size: 35px;
   padding: 10px 120px;
   background: blue;
   border: none;
   color: #fff;
}
.ranner {
	width: 1100%;
	height: 1080px;
	display: block;
	background: url('fon.png') repeat-x ;
	position: absolute;
	top:0;
	left: 0px;

	margin:0;
	padding: 0;
	 -webkit-animation-name: run;
  animation-name: run;
  -webkit-animation-duration: 500s;
  -o-animation-duration: 500s;
  animation-duration: 500s;
  animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}
@keyframes run {
	from{
		left: 0px;
	}
	to {
		left: -19200px; 
	}
}

.sobaka {
	position: absolute;
	bottom:-28px;
	left: 450px;
	transition: all 0.5s ease; 
	z-index: 9999;
}
.zomb {
	position: absolute;
	bottom:45px;
	left: 150px;
	transition: all 0.5s ease; 
	z-index: 9999;
}
.zomb img {
	width: 150px;
	height: 250px;
}
.dragonbox {
	position: absolute;
	bottom:245px;
	right:  150px;
	transition: all 0.5s ease; 
	z-index: 9999;
	-webkit-animation-name: dragon;
  animation-name: dragon;
  -webkit-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
.dragonbox img {
	width: 400px;
	height: 450px;
}
.firebox {
	opacity: 0;
	 -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
	position: absolute;
	bottom:425px;
	right:  450px;
	transition: all 0.5s ease; 
	z-index: 9999;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-name: fire;
  animation-name: fire;
  -webkit-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
.firebox  img {
	width: 80px;
	height: 120px;
}
.audiobox {
	position: relative;
	z-index: 9999;
}
.obloko {
	position: absolute;
	top:20px;
	right: 150px;
	transition: all 0.5s ease; 
	z-index: 9999;
	-webkit-animation-name: obanim;
  animation-name: obanim;
  -webkit-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
  animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
.obloko img {
	width: 250px;
	height: 250px;
}

@keyframes obanim {
	from {
		top:20px;
	      right: 150px;
        
		}50%{
          top:45px;
         right: 177px;
		}
		to{
          top:20px;
	      right: 150px;
		}
}
@keyframes fire{
	from {
		opacity: 1;
		bottom:320px;
	    right:  380px;
		}
		to{
         opacity: 1;
         bottom:-1000px;
         right: 3000px;
		}
}
@keyframes dragon {
	from {
		bottom:245px;
	    right:  100px;
        
		}50%{
          bottom:285px;
	      right:  150px;
		}
		to{
          bottom:245px;
	       right:  100px;
		}
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}

.carbox {

	position: absolute;
	bottom: 45px;
	left: 1920px;
	 -webkit-animation-name: animbox ;
  animation-name: animbox ;
  -webkit-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
  animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}

.carbox img {
	width: 150px;
	height: 250px;
}

@keyframes animbox {
	from {
       left: 1920px;
	}
	to{
       left: -200px;
	}
}

